body {
	margin: 0;
}
.mjml2html {
	display: flex;
}
.mjml2html > input {
	display: none;
}
.mjml2html_btn {
	margin: 10px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px;
	color: #111;
	font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
	font-size: 14px;
	line-height: 1.6;
	text-decoration: none;
	cursor: pointer;
}
.mjml2html_btn:hover {
    color: #aaa;
}
.mjml2html_btn:active {
    background-color: #ddd;
    color: #888;
}
.mjml2html > label::before {
	content: "Show ";
}
.mjml2html > input:checked + label::before {
	content: "Hide ";
}
.mjml2html > div {
	flex: 1;
}
.mjml2html > div > .error {
	display: grid;
	place-items: center;
	height: 100vh;
	padding: 0 1ch;
	position: sticky;
	top: 0;
	background-color: #ff5035;
	color: white;
	font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
	line-height: 1.6;
	text-align: center;
}
.mjml2html > pre {
	flex: 0;
	margin: 0;
	padding: calc(20px + 1.6em) 1ch 10px 5ch;
	overflow: auto;
	background-color: #111;
	color: #eee;
	tab-size: 4;
}
.mjml2html > input:checked ~ pre {
	flex: 1;
}
.mjml2html > pre .color.tag {
	color: #f63a4d;
}
.mjml2html > pre > .error,
.mjml2html > pre > .warning {
	display: inline-block;
	padding: 3px 1ch 3px 0px;
	margin-top: 3px;
	position: relative;
	border-radius: 4px;
}
.mjml2html > pre > .error {
	background-color: rgba(255, 80, 53, 0.25);
}
.mjml2html > pre > .error:hover {
	background-color: #ff5035;
}
.mjml2html > pre > .warning {
	background-color: rgba(255, 176, 53, 0.25);
}
.mjml2html > pre > .warning:hover {
	background-color: #ffb035;
	color: #111;
}
.mjml2html > pre > .error:hover::before,
.mjml2html > pre > .warning:hover::before {
    content: attr(data-message);
    display: block;
	width: max-content;
    max-width: calc(50vw - 6ch);
    padding: 5px 1ch;
    position: absolute;
    bottom: calc(100% + 3px);
    background-color: #eee;
    border-radius: 4px;
    color: #111;
    white-space: pre-wrap;
	pointer-events: none;
}
.mjml2html > pre > .error:hover > .color {
	color: #eee;
}
.mjml2html > pre > .warning:hover > .color {
	color: #111;
}
.mjml2html > pre > .line,
.mjml2html > pre > .error > .line,
.mjml2html > pre > .warning > .line {
	display: inline-block;
	min-width: 3ch;
	margin-right: 2ch;
	text-align: right;
}
.mjml2html > pre > .line {
	margin-top: 3px;
	margin-left: -4ch;
}
.mjml2html > pre > .error > .line,
.mjml2html > pre > .warning > .line {
	margin-left: -4ch;
}
.mjml2html > pre > .error > .line {
	color: #ff5035;
}
.mjml2html > pre > .warning > .line {
	color: #ffb035;
}